<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="..\..\static\css\index.css">
</head>
<body>
    <h1> Добро пожаловать! </h1>
    <p>
	    <span class="big_letter">Добро пожаловать</span> в наше приложение под названием
	    <span style="font-size: 2em"><strong> Тралала </strong></span>, оно выполняет функции
	    <mark>лалала</mark> при <i> дудуду </i> или когда вы <span class="my_first_span">
		    бубубу </span>
    </p>
	<img src="..\..\static\img\logo.png" alt="Доброе утро!">
	<img src="https://avatars.mds.yandex.net/i?id=98bf66b7a9e651288460dbfcd5ea17a8_l-4892849-images-thumbs&n=13"
	alt="Кому как...">
</body>
</html>



