{% extends 'index.html' %}

{% block content %}
<div class="container">
<h1>Дневник программиста</h1>

<!-- Форма добавления записи -->
<form action="{{ url_for('add_note') }}" method="POST">
	<label for="title">Заголовок записи:</label><br>
	<input type="text" id="title" name="title" required><br><br>а

	<label for="title"> Текст записи: </label><br>
	<textarea id="text" name="text" rows="4" cols="50" required></textarea><br><br>

	<button type="submit">Добавить запись</button>
</form>

<hr>

<h2>Мои записи:</h2>

{% if notes %}
	<ul>
		{% for note in notes %}
			<li>
				<strong> {{ note.title }}</strong>: {{ note.text }}
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>Записей нет.</p>
{% endif %}

<hr>

<h2>Темы курса:</h2>
<table border="1">
	<tr>
		<th>№</th>
		<th>Тема: Шаблоны и формы в Flask (Jinja2)</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Введение в Jinja2. Основные элементы шаблонов Jinja2</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Операторы и выражения Jinja2</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Работа с формами</td>
	</tr>
</table>
</div>

{% endblock %}